worker_processes auto;

events {
    worker_connections 1024;
}

http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /var/log/nginx/access.log  main;
    error_log   /var/log/nginx/error.log;

    sendfile        on;
    #tcp_nopush     on;

    keepalive_timeout  65;

    #gzip  on;

    include /etc/nginx/conf.d/*.conf;

    server {
        listen 8080;
        server_name {{ hostvars[inventory_hostname]['domain'] }};
        location / {
            proxy_pass         http://keycloak:8080;
            proxy_redirect     off;
            proxy_set_header   Host $host;
            proxy_set_header   X-Real-IP $remote_addr;
            proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header   X-Forwarded-Host $server_name;
            proxy_set_header   X-Forwarded-Proto $scheme;
            proxy_set_header   X-Forwarded-Port $server_port;
            proxy_set_header   X-Forwarded-Server $host;
	        proxy_buffer_size   128k;
            proxy_buffers   4 256k;
            proxy_busy_buffers_size   256k;
        }
        location /pghc {
            proxy_pass         http://pghc:8080;
            proxy_set_header   Host $host;
            proxy_set_header   X-Real-IP $remote_addr;
            proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header   X-Forwarded-Host $server_name;
            proxy_set_header   X-Forwarded-Proto $scheme;
            proxy_set_header   X-Forwarded-Port $server_port;
            proxy_set_header   X-Forwarded-Server $host;
        }
    }

    server {
        listen 443 ssl;
        server_name {{ hostvars[inventory_hostname]['domain'] }};

{% if use_custom_certs == "yes" %}

        ssl_certificate /etc/ssl/custom/{{ hostvars[inventory_hostname]['domain'] }}/fullchain.pem;
        ssl_certificate_key /etc/ssl/custom/{{ hostvars[inventory_hostname]['domain'] }}/privkey.pem;

{% else %}

        ssl_certificate /etc/letsencrypt/live/{{ hostvars[inventory_hostname]['domain'] }}/fullchain.pem;
        ssl_certificate_key /etc/letsencrypt/live/{{ hostvars[inventory_hostname]['domain'] }}/privkey.pem;

{% endif %}

        location / {
            proxy_pass         http://keycloak:8080;
            proxy_redirect     off;
            proxy_set_header   Host $host;
            proxy_set_header   X-Real-IP $remote_addr;
            proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header   X-Forwarded-Host $server_name;
            proxy_set_header   X-Forwarded-Proto $scheme;
            proxy_set_header   X-Forwarded-Port $server_port;
            proxy_set_header   X-Forwarded-Server $host;
	        proxy_buffer_size   128k;
            proxy_buffers   4 256k;
            proxy_busy_buffers_size   256k;
        }
        location /pghc {
            proxy_pass         http://pghc:8080;
            proxy_set_header   Host $host;
            proxy_set_header   X-Real-IP $remote_addr;
            proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header   X-Forwarded-Host $server_name;
            proxy_set_header   X-Forwarded-Proto $scheme;
            proxy_set_header   X-Forwarded-Port $server_port;
            proxy_set_header   X-Forwarded-Server $host;
        }
    }


{% if global_domain %}
    server {
        listen 8443 ssl;
        server_name {{ global_domain }};

        ssl_certificate /etc/ssl/custom/{{ global_domain }}/fullchain.pem;
        ssl_certificate_key /etc/ssl/custom/{{ global_domain }}/privkey.pem;

        location / {
            proxy_pass         http://keycloak:8080;
            proxy_redirect     off;
            proxy_set_header   Host $host;
            proxy_set_header   X-Real-IP $remote_addr;
            proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header   X-Forwarded-Host $server_name;
            proxy_set_header   X-Forwarded-Proto $scheme;
            proxy_set_header   X-Forwarded-Port $server_port;
            proxy_set_header   X-Forwarded-Server $host;
	        proxy_buffer_size   128k;
            proxy_buffers   4 256k;
            proxy_busy_buffers_size   256k;
        }
        location /pghc {
            proxy_pass         http://pghc:8080;
            proxy_set_header   Host $host;
            proxy_set_header   X-Real-IP $remote_addr;
            proxy_set_header   X-Forwarded-For $proxy_add_x_forwarded_for;
            proxy_set_header   X-Forwarded-Host $server_name;
            proxy_set_header   X-Forwarded-Proto $scheme;
            proxy_set_header   X-Forwarded-Port $server_port;
            proxy_set_header   X-Forwarded-Server $host;
        }
    }
{% endif %}
}
